
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 72px;
    background-color: #0a1929;
    position: sticky;
    top: 0;
    border-radius: 0;
    color: white;
    border-radius: 50px;
    width: 85%;
    margin-left: 98px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.navbar-left {
    padding-right: auto;
}
.navbar-left h1 {
    text-align: left;
    
}
.nav-list {
    display: flex;
}
.nav-list ul  {
    list-style: none;
    display: flex;
    gap: 49px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    
}
.nav-list ul li a{
    list-style: none;
    color: white;
    text-decoration: none;
}
.navbar-left h1 a {
    text-decoration: none;
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.nav-list ul li a:hover {
    color: violet;
}



